

header {
  font-style: italic;
  font-weight: bolder;
  background: radial-gradient(circle, rgb(23, 23, 23)100%, rgb(44, 44, 44));
  padding: 2px;
  color: white;
  /* position: fixed; */
  right: 0;
  top: 0;
  left: 0;
}
main { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    margin-top:185px;
    text-align: justify;
    align-items: flex-start;
  
  
  }