.header .logo img {
  margin-top: 2px; width: 100px; height: 100px; opacity: 0.6;
}
.header {
  background-color: black;
   opacity: 0.9;
   width: 100%;
}

.header hr {
  color:rgb(255, 8, 0); height: 2px; border: solid 1px #e41515;
}
.header button .search-bar {
  border: 5px solid transparent ; border-radius: 10px; padding: 10px;
}

.header nav .ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav .ul li {
  margin: 0 10px; 
}

.header .Liste-genre,
.header .Liste-artiste {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0; /* Alignement à gauche */
  background-color: rgb(231, 61, 61); 
  padding: 10px;
  border: 1px solid #ccc;
}

.header .Liste:hover .Liste-genre,
.header .Liste:hover .Liste-artiste {
  display: block;
}
 
.header main {width: 80%;max-height: 1000;}


.header p {
  text-align: center;
  }
.header h1,h2,h3 {
  text-align: center;
}
.header h1:hover{
  background-color: gray; color: greenyellow; transition: 1s;
}

.header .Connexion {
  display: flex;
  justify-content: space-between;

}
.header .Connexion h1{
  color: #0dcaf0;
  align-self: center;
  font-family: fantasy;
  font-style: italic;
  font-variant: small-caps;
  font-size: xxx-large;
}

.header .Connexion button {

  background-color: red;
  color: whitesmoke;
  border: none;
  padding: 10px;
  width: 120px;
}

.header .Connexion button:hover {
  color: yellow;
}

.header .logo {
  filter: invert(100%);
  
}

.header .barre-de-nav nav{
  /* background: radial-gradient(circle, rgb(63, 207, 220) 60%) !important; */
background: radial-gradient(circle, #0dcaf0 60%, rgb(255 145 16) 100%);

}

footer {
  background-color: hsl(0, 0%, 0%);
  color: #fff;
  text-align: left;
  
}

.footer-content {
  display: flex;
  margin: 0 auto;
}

.footer .left-content p {
  font-size: 35px;
  margin: 0;
}

.footer .left-content {
  flex: 1;
}

.footer .social-icons {
  display: flex;
  flex-direction: center;
  
}

.footer .social-icons a { 
  margin: 10px 3px;
  height: 50px;
}

.footer .social-icons img {
  width: 60px;
}

.footer .right-content ul {
  list-style: none;
  padding: 0;
}

.footer .right-content li {
  margin: 20px 0;
}

.footer .right-content a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.footer .right-content {
  display: flex;
}

.footer .right-content ul {
  list-style: none;
  padding: 0;
  flex: 1; 
  margin: 0 10px; 
}

.footer .column {
  margin-right: 70px; 
}

.footer .right-content a:hover {
  text-decoration: underline;
}

.footer .left-content p{
  text-align: start;
  padding-left: 10px;
}
/* body {
  background: rgb(99, 39, 120)
} */

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}
.col-md-4 {
    background-color: rgb(255 145 16);
}
.card-body {
    background-color: #0dcaf0
}