body {
    background: linear-gradient(to bottom, blue, black);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 745px;
    margin: auto; 
}

.form-element {
    height: 40px; /* Ajustez cette valeur pour modifier la hauteur des deux champs */
}

.form-control::placeholder {
    color: gray;
}

footer {
    flex-shrink: 0;
    width: 100%;
}