
footer {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    text-align: left;
    
}

.footer-content {
    display: flex;
    margin: 0 auto;
}

.footer .left-content p {
    font-size: 35px;
    margin: 0;
}

.footer .left-content {
    flex: 1;
}

.footer .social-icons {
    display: flex;
    flex-direction: center;
    
}

.footer .social-icons a { 
    margin: 10px 3px;
    height: 50px;
}

.footer .social-icons img {
    width: 60px;
}

.footer .right-content ul {
    list-style: none;
    padding: 0;
}

.footer .right-content li {
    margin: 20px 0;
}

.footer .right-content a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footer .right-content {
    display: flex;
}

.footer .right-content ul {
    list-style: none;
    padding: 0;
    flex: 1; 
    margin: 0 10px; 
}

.footer .column {
    margin-right: 70px; 
}

.footer .right-content a:hover {
    text-decoration: underline;
}

.footer .left-content p{
    text-align: start;
    padding-left: 10px;
}
