@font-face {
  font-family: "toto";
  src: url(../Polices/2e03506c1c88c8fe6d93b46e611e2353.png)
}

body {
  margin: 0px;
  background: rgb(47, 45, 149);
  background: radial-gradient(circle, rgba(47, 45, 149, 1) 60%, rgb(0, 0, 0) 100%);
  color: whitesmoke;
  font-style: italic;
  font-size: large;
  font-weight: bolder;
}

main { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  margin-top:65px;
  text-align: justify;
  align-items: flex-start;
  width: 100%;

}

p{
  text-align: start;
  fon;
}

h2 {
  text-align: start;
  padding: 10px 0px;

}

h3 {
  text-align: start;
  font-size: 45px;
  text-decoration: underline;
  padding: 10px 0px;

}

br {
  border-color: whitesmoke;
  height: 2px;
}

h4 {
  font-size: 30px;
  text-decoration: underline;
  padding: 10px 0px;
}

h5{
  padding: 10px 0px;
}

.image-titre {
  width: 200px;
  padding: 20px 0px;
}

.lyrics:nth-child(1){
  flex: 1;
  padding-right: 20px;
  padding-left: 25px;
  font-family:monospace ;
  font-style: normal;
  font-size: larger;
}


.info-artiste{
  max-width: 450px;
    max-height: 1150px;
    text-align: center;
    padding: 20px;
    border: 20px ridge rgb(247, 247, 14);
    margin-right: 50px;
    margin-top: 200px;
    font-family: monospace;
    font-size: larger;
    margin-left: 110px;
}

.info-plus{
  display: none;
}

.info-artiste button{
  background-color: rgb(200, 200, 37);
  color: whitesmoke;
}