
header {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-top {
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    max-width: 70px; 
    margin: 0 35px; 
    display: flex;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex ;justify-content:flex-start ; align-items: center; 
  }
  
  nav ul li {
    margin: 0 10px;  
  }
  
  
  .Liste-genre,
  .Liste-artiste {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: white; 
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .Liste:hover .Liste-genre,
  .Liste:hover .Liste-artiste {
    display: block;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
  }
  h1:hover{
    background-color: gray; color: greenyellow; transition: 1s;
  }
  