.logo img {
    margin-top: 2px; width: 100px; height: 100px; opacity: 0.6;
}
header {
    background-color: rgba(47,45, 255, 149); opacity: 0.9;
    padding: 10px 0;
  }

body {
    Background-image: url("../image/Capture\ d’écran\ du\ 2023-10-25\ 12-24-10.png"); padding: 20px; 
    }

hr {
    color:rgb(255, 8, 0); height: 2px; border: solid 1px #e41515;
}
button .search-bar {
    border: 5px solid transparent ; border-radius: 10px; padding: 10px;
}
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px; 
  }
  
  .Liste-genre,
  .Liste-artiste {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; /* Alignement à gauche */
    background-color: rgb(231, 61, 61); 
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .Liste:hover .Liste-genre,
  .Liste:hover .Liste-artiste {
    display: block;
  }
  .logo {
    text-align: center; 
    padding-top: 20px;  
}
main {width: 80%;max-height: 1000;}
p {
    text-align: center;
    }
h1,h2,h3 {
    text-align: center;
}
h1:hover{
    background-color: gray; color: greenyellow; transition: 1s;
  }